.sendIcon {
  position: absolute;
  top: 7px;
  right: 16px;
  cursor: pointer;
}

.chat-input {
  padding: 11px 18px;
}

.texts-container {
  height: 33.5rem;
}

.texts-div {
  padding: 20px 30px;
  overflow-y: scroll;
  background-image: url("../assets/istockphoto-629531868-170667a.jpg");
}

.textbox {
  border: 1px solid;
  display: inline-block;
  max-width: 508px;
  padding: 12px;
  margin: 0.677rem 0;
}

.sent {
  background-color: #b8ebff;
  border-radius: 0.7rem 0.7rem 0rem 0.7rem;
  max-width: 508px;
}

.recieved {
  background-color: #fff;
  border-radius: 0.7rem 0.7rem 0.7rem 0rem;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 16px 1px 16px 11px;
  box-shadow: 0px 1px 3px 0px grey;
  cursor: pointer;
}
.profile-container-top {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 16px 1px 16px 11px;
  box-shadow: 0px 1px 3px 0px grey;
  cursor: pointer;
}

.global-user-heading {
  padding: 11px 0;
  background: #4d4d4d;
  color: white;
}

.send-div {
  top: -72px;
}

::-webkit-scrollbar {
  width: 8px;
}

@media screen and (max-width: 560px) {
  ::placeholder {
    font-size: 14px;
  }

  .chat-input {
    font-size: 14px;
  }

  .bg-dev {
    display: none;
  }

  .global-user-heading > h5 {
    font-size: 1rem;
  }
  .global-user-heading {
    padding: 9px 0;
  }

  .profile-container-top {
    padding: 8px 1px 8px 6px;
  }

  .send-div {
    top: -48px;
  }

  .texts-div {
    padding: 4px 6px;
  }

  .textbox {
    padding: 6px;
  }

  .textbox > p {
    font-size: 14px;
  }
  .sent {
    border-radius: 10px 10px 0 10px;
  }
  .recieved {
    border-radius: 10px 10px 10px 0;
  }
  .avatar {
    width: 30px;
    height: 30px;
  }
}
